extends layout

block content
	include barra.jade
	.container
		h2 Escoge a un paciente para consultar:
		br
		.content
			table.table.table-striped.table-hover
				thead
					tr
						th Nombre
						th Raza
						th Sexo
						th Descripción
						th Consulta
				tbody
					each val in perros
						tr
							th=val.nombre
							th=val.raza
							if val.sexo == true
								th Macho
							else
								th Hembra
							th=val.descripcion
							th 
								a(href='Dogs/'+val.id_perro) Consultar
				tfoot
					tr
						th.ts-pager.form-horizontal(colspan='4')
							button.btn.btn-first(type='button')
								i.icon-step-backward.glyphicon.glyphicon-step-backward
							button.btn.btn-prev(type='button')
								i.icon-arrow-left.glyphicon.glyphicon-backward
							span.pagedisplay
							button.btn.btn-next(type='button')
								i.icon-arrow-right.glyphicon.glyphicon-forward
							button.btn.btn-last(type='button')
								i.icon-step-forward.glyphicon.glyphicon-step-forward
							select(title='Mostrar elementos por página')
								option(selected='selected', value='10') 10
								option(value='20') 20
								option(value='30') 30
							select.pagenum.input-mini(title='Selecciona el número de página')
	include footer.jade