doctype html
html
  head
    title VETech

    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/font-awesome.min.css')
    link(rel='stylesheet', href='/stylesheets/jquery.bxslider.css')
    link(rel='stylesheet', href='/stylesheets/isotope.css', media='screen')
    link(rel='stylesheet', href='/stylesheets/animate.css')
    link(rel='stylesheet', href='/javascripts/fancybox/jquery.fancybox.css', type='text/css', media='screen')
    link(rel='stylesheet', href='/stylesheets/prettyPhoto.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/theme.bootstrap.css')

    script(src='javascripts/jquery-2.1.4.min.js')
    script(src='javascripts/jquery.tablesorter.js')
    script(src='javascripts/jquery.tablesorter.widgets.js')
    link(rel='stylesheet', href='javascripts/pager/jquery.tablesorter.pager.css')
    script(src='javascripts/pager/jquery.tablesorter.pager.js')
    script(src='javascripts/tablesorter.js')



    link(rel='shortcut icon', href='/images/icon.png')
    
  body
    block content	